html, body {
    height: 100%;
    color: #5D4C46;
    font-size: 105%
}

h1 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
}


body {
    background: #7B8D8E;
}

.row div {
    background: #F2EDD8 !important;
}

#results {
    opacity: 0.5;    
}

#spinner {
    text-align: center;
    font-size: 400%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#spinner-div {
    height: 100%;
}

a {
   color: #44B3C2; 
}

#random-link {
    margin-left: -1.5%;
}

#results-row, #container  {
    height: 100%;
}
