<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <p>
            Search: <input ng-model="$ctrl.query" />
            </p>

            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="text">Alphabetical</option>
                    <option value="date">Age</option>
                </select>
            </p>
        </div>

        <div class="col-md-10">
            <ul class="todos">
                <li ng-repeat='todo in $ctrl.todos | filter:$ctrl.query | orderBy:$ctrl.orderProp'>
                    <span>{{todo.text}} - {{todo.dateAdded | date:'longDate'}}</span>
                </li>
            </ul>
            <button>Create</button>
        </div>
    </div>

</div>
