html, body, .weather-container {
    height: 100%;
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15vh;
    font-style: bold;
}

.options {
    position:fixed;
    bottom:0px;
    width:100%;
    text-align: center;
}
