body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3B3B3B;
    font: arial;
}

html, body, .weather-container {
    height: 100%;
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    position:fixed;
    bottom:0px;
    width:100%;
    text-align: center;
    font-size: 2vh;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

#weather {
    color: white;
    font-size: 15vh;
    text-shadow: 2px 2px black;
}
